.has-White-color{
    color: #FFFFFF!important;
 }
 
 .has-Very-Dark-Gray-color{
    color: #111111!important;
 }
 
 .has-Brand-Color-2-color{
    color:#E94B59!important;
 }
 
 .has-Brand-Color-1-color{
 color:#6128A1!important;
 }
 
 
 .has-Brand-Color-2-background-color{
 background-color: #E94B59!important;
 }
 
 .has-Brand-Color-1-background-color{
 background-color: #6128A1!important;
 }
 
 .has-Very-Dark-Gray-background-color{
    background-color: #111111!important;
 }
 
 .has-White-background-color{
    background-color: #FFFFFF!important;
 }